doctype html
html
    head
        title Zou, Jyun-An
        link(rel='stylesheet', href='./css/MyStyle.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="http://malsup.github.com/jquery.cycle.all.js")
    
    body
    
        nav.navbar
            div.navbar-container
                div.navbar-item.navbar-header#Header Zou, Jyun-An
                div.navbar-item#AbountMe About Me
                div.navbar-item#Resume Resume

        div.container
            div.background.section_title
                div#im 我是...
                div#zja ZOU, JYUN-AN
            
            div.header About Me
            div.background.section_about_me
                //- div#im 我是...
                //- div#zja ZOU, JYUN-AN
            
            div.header Resume
            div.background.section_resume
                //- div#im 我是...
                //- div#zja ZOU, JYUN-AN
            
            
            

        //- script(src='./js/MyJS.js')
        //- script.
        //-     var elementA = document.getElementById('elementA');
        //-     var coverList = JSON.parse(elementA.textContent);
        //-     console.log(coverList);



            